@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Proxima Nova";
  src: url("./Assets/fonts/Mark\ Simonson\ \ Proxima\ Nova\ Regular.otf");
  font-weight: 400;
  font-size: small;
} */
 @import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope";
  }

  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}

@layer components {
}

@layer utilities {
}
